@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

body {
    background-color: #292C34
}

header {
    background: white;
    padding: 20px;
}

header > h1 {
    color: #25272E;
    text-align: center;
    font-size: 35px;
    /* border: 4px solid black;        TESTING */
}

.scores {
    display: inline-block;
    margin-left: 80px;
    text-align: center;
}

.score-board {
    margin: 25px auto 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 150px;
    color: white;
    font-size: 25px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge {
    background-color: #E25840;
    color: white;
    font-size: 15px;
    padding: 1px 10px 3px 10px;
}

#user-label {
    position: absolute;
    top: 18px;
    left: -30px; 
}

#computer-label {
    position: absolute;
    top: 18px;
    right: -32px; 
}

.score-board > span {
    padding-right: 3px;
    padding-left: 3px;
}

.game-play {
    margin-top: 20px;
}

.action-message {
    font-size: 35px;
    color: white;
}

#message {
    text-align: center;
    font-weight: bold;
}

.choices {
    margin: 30px 0 30px 0;
    text-align: center;
}

.choice {
    border: 3px solid white;
    border-radius: 50%;
    margin: 0 15px;
    padding: 5px;
    display: inline-block;
    transition: all 0.3s ease;
}

.choice > img {
    height: 5em;
    width: 5em; 
}

.choice:hover {
    cursor: pointer;
    background-color: rgba(225, 88, 64, 0.7);
}

.results {
    margin: auto;
    margin-top: 40px;
    text-align: center;
    /* border: 4px solid white; */
    width: 80%;
    position: relative; 
    opacity: 0;
}
.results.opacity1 {
    opacity: 1;
}

.results-message {
    margin-top: 10px;
    font-size: 45px;
    color: white;
}

.results-message > p {
    text-align: center;
    font-weight: bold;
}

.selections {
    margin: 30px auto;
    text-align: center;
    border: 4px solid white;
    width: 100%;
    color: white;
    font-size: 25px;
    padding: 10% 8% 5% 8%;
    position: relative;
    display: block;
}

.selection-img {
    margin: 10px;
    display: inline-block;
    position: relative;
    min-height: 150px;
    min-width: 150px;
    max-height: 200px;
    max-width: 200px;
}

.selection-labels {
    display: inline-block;
    background-color: rgb(225, 88, 64);
    color: white;
    font-size: 20px;
    padding: 2px 20px;
}

#user-selection-label {
    position: absolute;
    left: 29%;
    top: -40px;
}

#comp-selection-label {
    position: absolute;
    right: 25%;
    top: -40px;
}

#user-selection-img > img {
    border: 3px solid white;
    border-radius: 50%;
    height:80%;
    width: 80%;
    margin: 0;
}

#comp-selection-img > img {
    border: 3px solid white;
    border-radius: 50%;
    height: 80%;
    width: 80%;
    margin: 0;
}

.winnerBorder {
    animation: winner 0.7s ease-in-out 2s 1 normal forwards;
}

@keyframes winner {
    0% {
        border: 2px solid white;
    }
    25%, 50% {
        border: 4px solid green;
    }
    100% {
        border: 2px solid white;
    }
}




.btnClicked {
    animation: choiceBtn 100ms ease-out 0s 1 normal; 
}

@keyframes choiceBtn {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes showAndGrow {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes opacity1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





